body 
{ 
	background: #130000 url(/images/tartan-bg.jpg) repeat-x; 
	/*color: #333;*/
	padding:0;
	border:0;
	margin:0;
 }

#content
{
	
	background-color:#F7F3E8;
	margin-top:5em;
	min-height:650px;
	height:100%;
	margin-right:2px;
	margin-left:2px;
	padding:0px;
	text-align:center;
}

#content h1
{
	color:blue;
}

#uni-form
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#uni-error
{
	background-color:red;
	color:white;
}

#upform
{
	width:50%;
	margin:0 auto;
}

#calendar
{
	background-color:white;
	width:50%;
	margin-left:10px;
	float:left;
}

#topbar
{
	margin-top:0px;
	background-color:#F2583E;
	width:98.9%;
	height: 20px;
	padding:8px;
	color:white;
}

#topbar a
{
	color:white;
}

#topbar #user
{
	float:right;
	border:2px;
	margin-right:10px;
}

#topbar #user img
{
	height:25px;
	width:25px;
}

#topbar #login img
{
	height:20px;
}

#topbar #logout
{
	clear:right;
}

#schedulewrap
{
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

#schops a
{
	color:black;
}

#schops a:hover
{
	color:white;
	background-color:black;
}

#maintext
{
	background-color:#2B3E42;
	color:white;
	text-align: center;
}

#footer
{
	margin-bottom:0;
	background-color:black;
	padding:3px;
	margin-top:3px;
	color:white;
	height:50px;
}

#footer p
{
	float:right;
}

#footer #twit
{
	float:left;
}

#footer a
{
	color:white;
}

#uni-success
{
	background-color:green;
	color:white;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

/*
a { color: blue; }
a:visited { color: blue; }
a:hover { color: #fff; background-color:#000; }*/

#notice {
  color: green;
}

/* ACCORDION */

#accordion
{
	width:40%;
	float:left;
	margin-right:0;
	margin-left:20px;
}

.accordionButton {	
	width: 100%;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	/*background: #003366;*/
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	color:white;
	}
	
.accordionContent {	
	width: 100%;
	color:white;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	/*background: #95B1CE;*/
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #990000;
	}
	
.over {
	background: #CCCCCC;
	}