<%= form_tag '/schedules', :multipart => true do %>
	<div id="error"><%= flash[:error] %> </div>
  <div class="field">
    iCal File:<br />
    <%= file_field :schedule, :vcal  %>
  </div>
  <div class="actions">
    <%= submit_tag 'Submit' %>
  </div>
<% end %>
