<div id="content">
<p id="uni-success"><%= flash[:notice] %></p>

<% if @courses %>
<table>
	<tr>
		<th>Course</th>
		<th>Days</th>
	</tr>
	<% @courses.each do |c| %>
	<tr>
		<td><%= c.name %></td>
		<td><%= c.weekdays %></td>
	</tr>
	<% end %>
</table>

<% end %>

<%= link_to 'Continue >', root_path %>
</div>