<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>Course</td>
		<td>Days</td>
	</tr>
	<% @courses.each do |c| %>
	<tr>
		<td><%= c.name %></td>
		<td><%= c.weekdays %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back', root_path %>